:root {
   --title-text-color: #212121;
   --accent-color: #2196f3;
   --primary-white-color: #ffffff;
   --primaty-text-color: #757575;
   --title-text-color: #212121;

}
/* /* background team: #f5f4fa;  */

.list {
list-style: none;
}



body {
    background-color: #ffffff;
    color: var(--primaty-text-color);
}




/* CSS для Index.html */

/* Хедер index.html і portfilio.html*/
.logo-web{
    color: #2196f3; 
}

.logo-studio{
    color: #000000;   
}
.site-nav-link {
    color: var(--title-text-color);


}
.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color); 
}
.contacts-link {
color: var(--primaty-text-color); 
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color); 
} 
/* Мейн */
/* фон герою додав щоб було видно заголовок */
.hero{
    background-color: #2f303a; 
}


.hero-title {
    color: #ffffff; 
}

.hero-button{
    background-color: var(--accent-color); 
    color: var(--primary-white-color);     
}

.hero-button:hover,
.hero-button:focus {
    color: #000000
}

.advantages-secondary-title {
    color: var(--title-text-color);
}


.employment-primary-title {
    color: var(--title-text-color);
}

.team-primary-title {
    color: var(--title-text-color);
}

.team-secondary-title {
    color: var(--title-text-color);
}


/* Футер index.html і portfilio.html*/
.footer{
    background-color: #2f303a; 
}

.logo-web-footer{
    color: #2196f3; 
}

.logo-studio-footer{
    color: #ffffff; 
}

.footer-maps-link {
    color: #ffffff;
}

.footer-contact-link {
    color: #757575;
}
/* CSS для portfolio.html */

.portfolio-button :hover{
    color: ##ffffff;

}