:root {
   --title-text-color: #212121;
   --accent-color: #2196f3;
   --primary-white-color: #ffffff;
   --primaty-text-color: #757575;
   --title-text-color: #212121;


}

body {
    background-color: #ffffff;
    color: var(--primaty-text-color);
}




/* CSS для Index.html */

/* Хедер index.html і portfilio.html*/
.logo-web{
    color: #2196f3; 
}

.logo-studio{
    color: #000000;   
}
.navigation a {
    color: var(--title-text-color);


}
.navigation a:hover,
.navigation a:focus {
    color: var(--accent-color); 
}
.contacts a {
color: var(--primaty-text-color); 
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color); 
} 
/* Мейн */
/* фон герою додав щоб було видно заголовок */
.hero{
    background-color: #2f303a; 
}


.hero-title {
    color: var(--primary-white-color); 
}

.hero-button{
    background-color: var(--accent-color); 
    color: var(--primary-white-color);     
}

.hero-button:hover {
    color: #000000
}
.hero-button:focus {
    color: #000000
}




/* Футер index.html і portfilio.html*/
.footer{
    background-color: #2f303a; 
}

.logo-web-footer{
    color: #2196f3; 
}

.logo-studio-footer{
    color: #ffffff; 
}

.footer-address a {
    color: var(--primaty-text-color);

}

.footer-address a:focus,
.footer-address a:hover{
    color: var(--accent-color);
}

/* CSS для portfolio.html */

.portfolio-button :hover{
    color: ##ffffff;

}